body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle at top left, #0f172a, #020617);
  color: #e2e8f0;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-image: url(/Img/codigo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: rgba(15, 23, 42, 0.85);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  padding: 2rem;
}

.profile {
  text-align: center;
  border-bottom: 1px solid #334155;
  padding-bottom: 1.5rem;
}

.avatar {
  width: 140px;
  border-radius: 50%;
  border: 2px solid #334155;
  margin-right: 16px;
  display: flex;
  justify-content: left;
}

.info {
  font-size: 1.2rem;
  font-weight: bolder;
  display: block;
  justify-content: center;
  text-align: right;  
  align-items: flex-start;
  margin-top: -7.8rem;
  margin-right: -11rem;
}

.info h1 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
}

.info p {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: #94a3b8;
  text-align: center;
}

.intro {
  margin-top: 60px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links {
   margin: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.social-links a {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.4rem 0.8rem;
  background: #1e293b;
  border-radius: 8px;
  color: #e2e8f0;
  transition: 0.3s;
}

.social-links a:hover {
  background: #334155;
}

#welcome {
  background: #1e293b;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  font-style: italic;
}

section {
  margin-top: 2rem;
}

h2 {
  color: #7dd3fc;
  border-bottom: 1px solid #334155;
  padding-bottom: 0.5rem;
}

ul {
  list-style: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

li {
    margin-top: 0.5rem;
}

button {
  background: #38bdf8;
  border: none;
  color: #0f172a;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7dd3fc;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #94a3b8;
}

